/* Estiliza o corpo da página */
body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
    margin: 0;
}

/* Estiliza a navbar */
.navbar {
    margin-bottom: 20px;
    background-color: #343a40;
}

.navbar-brand {
    font-size: 1.5rem;
    color: #ffffff;
}

/* Ajustes para o card */
.card {
    border-radius: .5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

/* Estilo do título do formulário */
.card h2 {
    color: #007bff;
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
}

/* Estilo para o formulário */
form {
    margin-top: 1.5rem;
}

form .form-control {
    border-radius: .375rem;
    box-shadow: none;
    border-color: #ced4da;
}

form .form-label {
    margin-bottom: .5rem;
}

/* Estilo das labels */
form label {
    font-size: 1rem; /* Tamanho da fonte da label */
    margin-bottom: .5rem;
    color: #333; /* Cor da fonte da label */
    display: block;
}

/* Estilo dos campos de entrada */
form input {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem; /* Tamanho da fonte do campo */
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* Estilo do botão de submit */
.btn-primary {
    padding: .75rem 1.25rem;
    font-size: 1.125rem; /* Ajuste do tamanho da fonte */
    border-radius: .25rem;
    background-color: #007bff;
    border: none;
    width: 100%;
}

.btn-primary:hover {
    background-color: #0056b3;
}

