{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>Formulário</title>
    <link rel="stylesheet" href="{% static 'campos/css/campos_form.css' %}" />
</head>
<body>
    <h2>
      {% if form.instance.pk %}
        Editar
      {% else %}
        Adicionar
      {% endif %} Campo
    </h2>
    <form id="campoForm" method="post" action="{% url 'campo_create' %}" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Salvar</button>
    </form>
    <script src="{% static 'campos/js/campos_form.js' %}"></script>
</body>
</html>
